/* Colors */
/* Green #7a9392
Grey #626366
Tan #ede9e3
Brown #ae6e1c */
/* End of Colors */
​
/* Fonts */
/* font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif; */
/* <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet"> */
/* End of Fonts */
​
/* TofC */
/* 1. Main 
2. Spacing
3. Rows
4. scroll button
​
/* End of TofC */
​
​
/* Main */
body {
    background-color: #ede9e3;
}
​
html, body {
    height: 100%;
}
​
​
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Playfair Display', serif; */
}
  
h1 {
  font-size: 39px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 22px;
}
  
h4 {
  font-size: 16px;
    width: 180px;
    position: relative;
    padding-left: 30px;
    padding-bottom: 1em;
}
  
/* h4:before {
​
} */

h5 {
  font-size: 14px;
}

h6 {
  font-size: 9px;
}
​
/* End of Main */
​
​
/* Spacing */
.section-space--inner--60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-space--inner--60 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .section-space--inner--60 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
​
.section-space-outer-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
​
.inner {
    padding-top: 70px;
    padding-bottom: 70px;
}
/* End Spacing */
​
/* Scroll Button */
a.scroll-top {
  position: fixed;
  right: 30px;
  bottom: -60px;
  z-index: 999;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.03);
  display: block;
  padding: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
    
  color: #ffffff;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media only screen and (max-width: 479px) {
  a.scroll-top {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
  }
}
a.scroll-top.show {
  visibility: visible;
  opacity: 1;
  bottom: 60px;
}
/* End of scroll button */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
