.favorites-links {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: 3rem auto;
}

.fav-link {
    margin-right: 1.5rem;
    font-size: 1rem;
    border: 1px solid #626366;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: #7A9392;
    color: white;
}
.fav-link:hover {
    color: white;
    text-decoration: none;
    opacity: .90;
}


/* ContractorFavoritesList */

.ContractorFavoritesList {
    padding: 2rem 0 3rem;
    background-color: #EDE9E3;
}

.ContractorFavoritesList h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.ContractorFavoritesItem {
    background-color: white;
    width: 50vw;
    margin: 0 auto 2.5rem;
    padding: 0.75rem 4rem 0.5rem;
    /* border: 1px solid black; */
    border-radius: 5px;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.favorites-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.favorites-heading h2 {
    font-size: 2rem;
}

.favorites-heading button {
    background-color: transparent;
    border: none;
}

.ContractorFavoritesItem p {
    display: block;
    margin-bottom: 0.5rem;
}


/* Design Favorites List */

.DesignFavoritesPage {
    background-color: #EDE9E3;
    padding: 3rem 0;
}

.DesignFavoritesPage h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.DesignFavorites {
    display: flex;
    align-items: flex-end;
}

.DesignFavoriteItem {
    border: 1px solid black;
    width: 45vw;
    margin: 0 auto;
    padding: 1.25rem;
    /* border-radius: 5px;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1); */
}

.DesignFavoriteItem h2 {
    font-size: 1.5rem;
}

.DesignFavoriteItem img {
    display: block;
    margin: 0 auto 0.25rem;
    width: 75%;
}

.DesignFavoriteItem button {
    background-color: #7A9392;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    display: block;
    margin: 0 auto;
}

