.inspiration-title {
    justify-content: center;
    padding-top: 40px;
}
.inspiration-title2 {
    justify-content: center;
}

.inspiration-header1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    color: #626366;
    padding: 0px;
    margin: 0px;
    white-space: pre-wrap;
}

.inspiration-header2 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #626366;
}


.inspiration-img-overlay1 {
    background-color: #ae6e1c;
    opacity: 100%;
    justify-content: center;
    border-radius: 0px;
}

    
.inspiration-img-overlay1:hover {
    opacity: 80%; 
}

.inspiration-img-overlay2 {
    background-color: #7a9392;
    opacity: 100%;
    justify-content: center;
    border-radius: 0px;
}

        
.inspiration-img-overlay2:hover {
    opacity: 80%; 
}

.inspiration-img-overlay3 {
    background-color: #ccb699;
    opacity: 100%;
    justify-content: center;
    border-radius: 0px;
}

        
.inspiration-img-overlay3:hover {
    opacity: 80%; 
}

.inspiration-img-overlay4 {
    background-color: #626366;
    opacity: 100%;
    justify-content: center;
    border-radius: 0px;
}

        
.inspiration-img-overlay4:hover {
    opacity: 80%; 
}


.inspiration-main-title{
    font-family: 'Times New Roman', Times, serif;
    margin-top:40%;
    text-align: center;
}


.card-img-top {
    border-radius: 0px;
}

.inspiration-card-title {
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 40%;
    font-family: 'Playfair Display', serif; 
}


.inspiration-image-unsplash {
    margin-bottom: 15px;
    margin-top:15px;
}

.inspiration-image-unsplash button {
    background-color: transparent;
    border: none;
}

.fa-heart-inspiration {
    position: relative;
    float: right;
    color: #7a9392;
}

.fa-heart-inspiration:hover {
    position: relative;
    float: right;
    color: #7a9392;
    cursor: pointer;
}

.inspiration-button {
    background-color: transparent !important;
    color: transparent !important;
    padding: 0px !important;
    margin: 0px !important;
    border-color: transparent !important;
    border-radius: 0px;
}

.InspirationSearch {
    width: 75vw;
    margin:  0 auto;
    background-color: #EDE9E3;
    color: #626366;
    padding: 1.5rem 2rem 3rem;
    border-radius: 5px;
    
}

.InspirationSearch h1 {
    text-align: center;
    font-size: 3.5rem;
}

.InspirationSearch h1 span {
    font-family: 'Dancing Script', cursive;
}

.InspirationSearch p {
    font-size: 1.25rem;
    text-align: center;
    display: block;
    margin-bottom: 2rem;
}

.InspirationSearch form {
    display: block;
    text-align: center;
}

.InspirationSearch form input {
    margin-right: 1rem;
    height: 2.5rem;
    width: 50%;
    border-radius: 5px;
    border: none;
    padding-left: 0.75rem;
}

.InspirationSearch form button {
    background-color: #7A9392;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.375rem 0.75rem;
}